/* Estilos para el componente History */
.history-container {
    padding-top: 5rem;
    padding-bottom: 2rem;
    position: relative;
    min-height: 100vh;
}

.history-table-wrapper {
    max-width: 1100px;    /* O el ancho que prefieras */
    margin: 0 auto;       /* Centra el contenedor horizontalmente */
    padding-left: 2vw;    /* Espacio a los lados en pantallas grandes */
    padding-right: 2vw;
}

/* Centrar el contenido de la columna Archivo */
.files-column {
    text-align: center; /* Centra horizontalmente el contenido */
    vertical-align: middle; /* Centra verticalmente el contenido */
}

.download-link {
    color: #6dcca3;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.download-link:hover {
    color: #5cb393;
    text-decoration: underline;
}

.loading-message {
    text-align: center;
    padding: 2rem;
    color: #6dcca3 ;
    font-size: 1.2rem;
}

.records-message {
    text-align: center;
    padding: 2rem;
    color: red ;
    font-size: 1.2rem;
}
/* Responsive Design */
@media (max-width: 768px) {
    .history-content {
        padding: 1rem;
    }
    
    .history-table th,
    .history-table td {
        padding: 0.8rem;
        font-size: 0.9rem;
    }
}